*, *::before, *::after {
    box-sizing: border-box;
}

/*
    --gunmetal: #253031ff;
    --jonquil: #ffcb05ff;
    --ghost-white: #fffaffff;
    --cerulean: #2978a0ff;
    --columbia-blue: #c6e0ffff;
 */

ul {
    margin: 0;
    padding: 0;
}

html body {
    background-color: #c6e0ffff;
}

h1, h2 {
    font-family: "Merriweather", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 8px 0;
}

.pokemon-hub__inventory {
    display: flex;
    flex-direction: row;
    gap: 24px;

    justify-content: center;
}
