
.roster-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 400px;
}

.roster-item__image {
    width: 100px;
}

.roster-item__label {
    align-self: flex-start;
}
